/* Reset */
*,
*::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}

/* Root Variable */
:root {
  --color-primary: #cc312d;
  --color-border: #ebebeb;
  --color-background: #f7f7f7;
  --color-white: #fff;
}
.container {
  max-width: 124rem;
  margin: 0 auto;
  padding: 1rem;
}
.buyer__info {
  display: grid;
  grid-template-columns: 1fr;
  /* align-items: center; */
  /* justify-items: center; */
  border: 1px solid var(--color-border);
  border-radius: 2rem;
  padding: 3rem 2rem;
}
.user__info form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.heading {
  font-size: 2rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--color-border);
}
.heading span {
  font-weight: 300;
}
.user__info div {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.user__info form label {
  font-size: 1.4rem;
}
.user__info form input {
  font-size: 1.2rem;
  padding: 1.2rem 1.7rem;
  border-radius: 4rem;
  border: none;
  background: var(--color-background);
}
.user__info form input::placeholder {
  color: #000;
  opacity: 1;
}
.user__info .recipient__info--title h3,
.delivery__address--title h3 {
  font-size: 1.5rem;
}
.user__info .recipient__info--form span {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.user__info .delivery__address--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user__info .delivery__address--title span {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (min-width: 768px) {
  .buyer__info {
    grid-template-columns: 2fr 1fr;
  }
  .heading {
    font-size: 2.3rem;
  }
  .user__info .recipient__info--form {
    flex-direction: row;
  }
}
