/* Reset */
*,
*::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}

/* Root Variable */
:root {
  --color-primary: #cc312d;
  --color-border: #ebebeb;
  --color-background: #f7f7f7;
  --color-white: #fff;
}
.container {
  max-width: 124rem;
  margin: 0 auto;
  padding: 1rem;
}
.buyer__info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  border: 1px solid var(--color-border);
  border-radius: 2rem;
  padding: 3rem 2rem;
}
.user__info form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.heading {
  font-size: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-border);
}
.heading span {
  font-weight: 300;
  font-size: 1.4rem;
}
.user__info div {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.user__info form label {
  font-size: 1.4rem;
}
.user__info form input,
select,
textarea,
.delivery__type > span {
  font-size: 1.3rem;
  padding: 1.35rem 1.7rem;
  border-radius: 4rem;
  border: none;
  background: var(--color-background);
}
.user__info form input::placeholder {
  color: #000;
  opacity: 1;
}
.user__info .recipient__info--title h3,
.delivery__address--title h3 {
  font-size: 1.5rem;
}
.user__info .recipient__info--form span,
.delivery__address--select span,
.delivery__address--form span {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.user__info .delivery__address--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user__info .delivery__address--title span {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.sf-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 20px;
  cursor: pointer;
}
#textArea {
  border-radius: 1.2rem;
  resize: none;
  height: 10rem;
}
.user__info .delivery__address--text {
  gap: 1.3rem;
}
.heading h2 {
  font-size: 1.7rem;
}
.howToSend > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.howToSend span .items__cart {
  color: var(--color-primary);
  background: #e5303f1a;
  padding: 0.7rem 1rem;
  border-radius: 3rem;
  font-size: 1rem;
}
.howToSend .delivery__type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
.howToSend .delivery__type .check {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}
.howToSend .delivery__type .check label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.howToSend .delivery__type > span {
  width: 100%;
}
.howToSend .delivery__type label {
  font-size: 1.2rem;
}
.howToSend .delivery__type > span:hover {
  border: 1px solid var(--color-primary);
}
@media screen and (min-width: 768px) {
  .buyer__info {
    grid-template-columns: 2fr 1fr;
  }
  .heading,
  .heading h2 {
    font-size: 2.2rem;
  }
  .user__info .recipient__info--form,
  .user__info .delivery__address--select,
  .user__info .delivery__address--form,
  .howToSend .delivery__type {
    flex-direction: row;
  }
  .howToSend span .items__cart {
    font-size: 1.2rem;
  }
}

.purchase__info {
  background: var(--color-background);
  padding: 2rem;
  border-radius: 1.6rem;
}
.items__list {
  margin-top: 2rem;
}
.items__list li {
  display: flex;
  justify-content: space-between;
  gap: 1.3rem;
}
.items__list li .item__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 1.2rem;
  padding: 1rem;
}
.items__list li .item__img img {
  width: 100%;
  aspect-ratio: 1 /1;
}

.product__description {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.item__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3rem;
  width: 75%;
}
.product__amount {
  font-size: 1.5rem;
  font-weight: 700;
}
.product__amount span {
  color: #606060;
  font-weight: 300;
}
.product___cost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__price span {
  font-size: 1rem;
}
.product__name--eng {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 250%;
}
.product__number {
  display: flex;
  gap: 0.5rem;
}
.product__number span {
  border: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 3.2rem;
  height: 3.2rem;
}
